.footer{
    width: 100%;
    min-height: 80vh;
    margin-top: 20vh;
    background-image: url('/public/images/footer-background.svg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center center;
    background-size: cover;
    
}
.container-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.footer-image{
    width: 15rem;
    height: 15rem;
    margin-bottom: 2rem;
    border-radius: 50%;
    background-color: var(--lightDarkColor);
    animation: fade-outline 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) .5s infinite alternate;
}
@keyframes fade-outline {
    0%{
        outline: 0 solid #2ecc7079;
    }
    100%{
        outline: 2rem solid #2ecc70dc;
    }
}
.footer-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.about-author{
    font-size: 1.5rem;
    margin: 3rem 0;
    color: var(--darkColor);
}